* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 10vmin;
  color: rgb(207, 33, 33);
  background-color: #fffa9f;
}
#reset-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #fff;
  font-size: 1.25rem;
}

#new-btn {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #191913;
  color: #fff;
  font-size: 1.25rem;
}
#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.winner-result {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.hide {
  display: none;
}
